@import '../core';

$pikachu-forehead-top: 105px;
$pikachu-forehead-width: 150px;
$pikachu-head-left: 50px;

@mixin eyeball($size) {
  height: $size + 1px;
  width: $size;
  border-radius: 50% / 50%;
}

.pikachu {
  --furr: #ffd523;
  --shadow: #e19722;
  --cheek: #ff0000;
  --stripe: #5c3613;
  --outline: #000000;
  --black: #000000;
  --white: #ffffff;
  --outline-width: 2px;

  position: relative;

  .furr--black {
    background-color: var(--black);
    overflow: hidden;
  }

  .furr--yellow {
    background-color: var(--furr);
    overflow: hidden;
  }

  .outline {
    border: var(--outline-width) solid var(--outline);
  }

  .head {
    position: absolute;
    padding: 0 $pikachu-head-left;

    .ear {
      position: absolute;

      &.furr--black {
        height: 140px;
        width: 28px;

        border-radius: 66% / 55%;
        overflow: hidden;
      }

      &.furr--yellow {
        @include egg(200px, 100px);
        transform: rotate(10deg);

        position: relative;
        right: 18px;
        top: 25px;
      }

      .furr--shadow {
        width: 100px;
        height: 200px;
        background: var(--shadow);
        background: radial-gradient(transparent, transparent 80%, var(--shadow) 80%);
        background-size: 300% 600%;
        background-repeat: no-repeat;
        position: relative;
      }

      &.left {
        transform: rotate(6deg);
        left: 45px;

        .furr--shadow {
          transform: scaleX(-1) scaleY(-1) rotate(-17deg);
          right: 29px;
        }
      }

      &.right {
        left: 224px;
        top: $pikachu-forehead-top - 60px;
        z-index: 1;
        transform: rotate(92deg) scaleX(-1);

        .furr--shadow {
          transform: rotate(-30deg);
          right: 8px;
        }
      }

      &__joint {
        &--right {
          width: 50px;
          height: 30px;
          transform: rotate(20deg);

          top: $pikachu-forehead-top + 9px;
          left: 150px;
          z-index: 2;
          border-radius: 50% / 50%;
        }

        &--left {
          width: 10px;
          height: 4px;

          top: $pikachu-forehead-top + 23px;
          left: 54px;
          transform: rotate(-40deg);

          z-index: 2;
        }
      }
    }

    .forehead {
      width: $pikachu-forehead-width;
      height: 120px;
      position: absolute;

      top: $pikachu-forehead-top;
      transform: rotate(-5deg);

      border-radius: 150px / 75px;
    }

    .eye {
      @include eyeball(27px);
      background-color: var(--black);
      position: absolute;
      z-index: 9;

      .pupil {
        @include eyeball(11px);
        background-color: var(--white);
        position: absolute;
        top: 4px;
      }

      &.left {
        top: 165px;
        left: 70px;

        .pupil {
          left: 10px;
        }
      }

      &.right {
        top: 155px;
        left: 150px;

        .pupil {
          left: 5px;
        }
      }
    }

    .nose {
      position: absolute;
      top: 184px;
      left: 120px;
      z-index: 9;
      transform: rotate(-5deg);

      > .top {
        @include oval(6px, 3px, var(--black))
      }

      > .bottom {
        @include chevron(5px, 2px, 20deg, var(--black), up);

        position: relative;
        top: -2px;
      }
    }

    .powerpack {
      @include eyeball(42px);
      background-color: var(--cheek);
      position: absolute;
    }

    .face {
      position: absolute;
      top: 170px;
      left: $pikachu-head-left;

      > div {
        position: absolute;
      }

      .temple {
        //overflow: hidden;
        @include rectangle(70px, 20px, var(--furr));

        &.left{
          border-left: var(--outline-width) solid var(--outline);

          &.top {
            top: 14px;
            transform: rotate(3deg);
            left: 0.5px;
            z-index: 1;
          }

          &.bottom {
            transform: rotate(10deg);
            top: 25px;

            .powerpack {
              top: 16px;
              left: -26px;
            }
          }
        }

        &.right {
          border-right: var(--outline-width) solid var(--outline);

          &.top {
            transform: rotate(-10deg);
            left: 84px;
            top: -6px;
          }

          &.bottom {
            transform: rotate(-15deg);
            left: 88px;
            top: 9px;
            z-index: 1;

            .powerpack {
              top: 15px;
              right: -21px;
            }
          }
        }
      }

      .cheek {
        @include egg(95px, 60px);
        overflow: hidden;

        &.left {
          transform: rotate(130deg);
          top: 12px;
          left: 11px;
          border-left: none;

          .powerpack {
            bottom: -16px;
            left: 35px;
          }
        }

        &.right {
          border-right: none;
          transform: rotate(-150deg);
          top: 0;
          left: 94px;

          .powerpack {
            bottom: -3px;
            left: -20px;
          }
        }

      }

      .chin {
        width: 75px;
        height: 14px;
        border-radius: 66% / 45%;

        top: 85px;
        left: 50px;
        transform: rotate(-6deg);
      }

      .fill__mouth {
        @include circle(75px, var(--furr));
        top: 17px;
        z-index: 0;
        left: 40px;
      }
    }

  }

  .joint {
    position: absolute;
  }
}
