.pikachu {
  --furr: #ffd523;
  --shadow: #e19722;
  --cheek: #ff0000;
  --stripe: #5c3613;
  --outline: #000000;
  --black: #000000;
  --white: #ffffff;
  --outline-width: 2px;
  position: relative;
}
.pikachu .furr--black {
  background-color: var(--black);
  overflow: hidden;
}
.pikachu .furr--yellow {
  background-color: var(--furr);
  overflow: hidden;
}
.pikachu .outline {
  border: var(--outline-width) solid var(--outline);
}
.pikachu .head {
  position: absolute;
  padding: 0 50px;
}
.pikachu .head .ear {
  position: absolute;
}
.pikachu .head .ear.furr--black {
  height: 140px;
  width: 28px;
  border-radius: 66%/55%;
  overflow: hidden;
}
.pikachu .head .ear.furr--yellow {
  height: 200px;
  width: 100px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  transform: rotate(10deg);
  position: relative;
  right: 18px;
  top: 25px;
}
.pikachu .head .ear .furr--shadow {
  width: 100px;
  height: 200px;
  background: var(--shadow);
  background: radial-gradient(transparent, transparent 80%, var(--shadow) 80%);
  background-size: 300% 600%;
  background-repeat: no-repeat;
  position: relative;
}
.pikachu .head .ear.left {
  transform: rotate(6deg);
  left: 45px;
}
.pikachu .head .ear.left .furr--shadow {
  transform: scaleX(-1) scaleY(-1) rotate(-17deg);
  right: 29px;
}
.pikachu .head .ear.right {
  left: 224px;
  top: 45px;
  z-index: 1;
  transform: rotate(92deg) scaleX(-1);
}
.pikachu .head .ear.right .furr--shadow {
  transform: rotate(-30deg);
  right: 8px;
}
.pikachu .head .ear__joint--right {
  width: 50px;
  height: 30px;
  transform: rotate(20deg);
  top: 114px;
  left: 150px;
  z-index: 2;
  border-radius: 50%/50%;
}
.pikachu .head .ear__joint--left {
  width: 10px;
  height: 4px;
  top: 128px;
  left: 54px;
  transform: rotate(-40deg);
  z-index: 2;
}
.pikachu .head .forehead {
  width: 150px;
  height: 120px;
  position: absolute;
  top: 105px;
  transform: rotate(-5deg);
  border-radius: 150px/75px;
}
.pikachu .head .eye {
  height: 28px;
  width: 27px;
  border-radius: 50%/50%;
  background-color: var(--black);
  position: absolute;
  z-index: 9;
}
.pikachu .head .eye .pupil {
  height: 12px;
  width: 11px;
  border-radius: 50%/50%;
  background-color: var(--white);
  position: absolute;
  top: 4px;
}
.pikachu .head .eye.left {
  top: 165px;
  left: 70px;
}
.pikachu .head .eye.left .pupil {
  left: 10px;
}
.pikachu .head .eye.right {
  top: 155px;
  left: 150px;
}
.pikachu .head .eye.right .pupil {
  left: 5px;
}
.pikachu .head .nose {
  position: absolute;
  top: 184px;
  left: 120px;
  z-index: 9;
  transform: rotate(-5deg);
}
.pikachu .head .nose > .top {
  width: 6px;
  height: 3px;
  -webkit-border-radius: 6px/3px;
  -moz-border-radius: 6px/3px;
  border-radius: 6px/3px;
  background: var(--black);
}
.pikachu .head .nose > .bottom {
  position: relative;
  width: 5px;
  height: 2px;
  position: relative;
  top: -2px;
}
.pikachu .head .nose > .bottom:before, .pikachu .head .nose > .bottom:after {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: var(--black);
  content: "";
}
.pikachu .head .nose > .bottom:before {
  left: 0;
  -webkit-transform: skew(0deg, 20deg);
  -moz-transform: skew(0deg, 20deg);
  -ms-transform: skew(0deg, 20deg);
  -o-transform: skew(0deg, 20deg);
  transform: skew(0deg, 20deg);
}
.pikachu .head .nose > .bottom:after {
  right: 0;
  -webkit-transform: skew(0deg, -20deg);
  -moz-transform: skew(0deg, -20deg);
  -ms-transform: skew(0deg, -20deg);
  -o-transform: skew(0deg, -20deg);
  transform: skew(0deg, -20deg);
}
.pikachu .head .powerpack {
  height: 43px;
  width: 42px;
  border-radius: 50%/50%;
  background-color: var(--cheek);
  position: absolute;
}
.pikachu .head .face {
  position: absolute;
  top: 170px;
  left: 50px;
}
.pikachu .head .face > div {
  position: absolute;
}
.pikachu .head .face .temple {
  width: 70px;
  height: 20px;
  background: var(--furr);
}
.pikachu .head .face .temple.left {
  border-left: var(--outline-width) solid var(--outline);
}
.pikachu .head .face .temple.left.top {
  top: 14px;
  transform: rotate(3deg);
  left: 0.5px;
  z-index: 1;
}
.pikachu .head .face .temple.left.bottom {
  transform: rotate(10deg);
  top: 25px;
}
.pikachu .head .face .temple.left.bottom .powerpack {
  top: 16px;
  left: -26px;
}
.pikachu .head .face .temple.right {
  border-right: var(--outline-width) solid var(--outline);
}
.pikachu .head .face .temple.right.top {
  transform: rotate(-10deg);
  left: 84px;
  top: -6px;
}
.pikachu .head .face .temple.right.bottom {
  transform: rotate(-15deg);
  left: 88px;
  top: 9px;
  z-index: 1;
}
.pikachu .head .face .temple.right.bottom .powerpack {
  top: 15px;
  right: -21px;
}
.pikachu .head .face .cheek {
  height: 95px;
  width: 60px;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  overflow: hidden;
}
.pikachu .head .face .cheek.left {
  transform: rotate(130deg);
  top: 12px;
  left: 11px;
  border-left: none;
}
.pikachu .head .face .cheek.left .powerpack {
  bottom: -16px;
  left: 35px;
}
.pikachu .head .face .cheek.right {
  border-right: none;
  transform: rotate(-150deg);
  top: 0;
  left: 94px;
}
.pikachu .head .face .cheek.right .powerpack {
  bottom: -3px;
  left: -20px;
}
.pikachu .head .face .chin {
  width: 75px;
  height: 14px;
  border-radius: 66%/45%;
  top: 85px;
  left: 50px;
  transform: rotate(-6deg);
}
.pikachu .head .face .fill__mouth {
  width: 75px;
  height: 75px;
  background: var(--furr);
  -webkit-border-radius: 37.5px;
  -moz-border-radius: 37.5px;
  border-radius: 37.5px;
  top: 17px;
  z-index: 0;
  left: 40px;
}
.pikachu .joint {
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
